<strong>Olá {{ organizer }}!</strong>
<p>Foi relizada uma nova inscrição no meetup <strong>{{ meetup }}</strong>:</p>
<p>
  <strong>Participante</strong> <br />
  <strong>Nome: </strong> {{ user }} <br />
  <strong>E-mail: </strong> {{ email }} <br />
</p>
